
footer {
    background-color: $background-color-principal;
    width: 100%;
    padding-top: 2rem;

    .logo-footer {
    display: flex;
    justify-content: center;

    img {
    padding-top: 1rem;
    width: 14rem;
    }
    }

    .contacto {
    color: $background-color-secundario;
    font-size: 0.9rem;
    @extend .logo-footer;
    text-align: center;
    }

    .social-media {
    @extend .logo-footer;
    padding-top: 2.5rem;
    }

    .social-icon {
    color: $background-color-secundario;
    margin: 0 15px;

    &:hover {
    color: #555;
    }
    }

    .footer-derechos {
    color: $background-color-secundario;
    font-size: 0.75rem;
    text-align: center;
    margin-top: 2.5rem;
    }
}