
footer {
    background-color: black;
    width: 100%;
    margin-top: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;

    .logo-footer {
    display: flex;
    justify-content: center;

    img {
    padding-top: 1px;
    width: 13rem;
    }
    }

    .contacto {
    color: white;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    text-align: center;
    }

    .social-media {
    display: flex;
    justify-content: center;
    padding-top: 2.5rem;
    }

    .social-icon {
    color: white;
    margin: 0 13px;

    &:hover {
    color: #555;
    }
    }

    .footer-derechos {
    color: white;
    font-size: 0.75rem;
    text-align: center;
    margin-top: 2.5rem;
    }
}