
header {
        background-color: $background-color-principal;
        width: 100%;

    .menu {
        margin: 0 auto;
    }

    img {
        width: 15.5rem;
    }

    .imagen {
        display: flex;
        justify-content: center;
    }

    nav ul {
        width: 100%;
        @include flex;
        justify-content: space-around;
        padding-bottom: 1.50rem;
        padding-left: 3rem;
        padding-right: 3rem;
        gap: 0.625rem;

    li {
        list-style: none;
        text-decoration: none;a {
        text-decoration: none;
        color: $background-color-secundario;
        font-size: 1.5rem;

    &:hover {
        color: pink;
                }
            }
        }
    }
}