.card {
    flex: 50%;
    margin: 10px;
    display: flex;
    background-color: $background-color-secundario;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);

    .contenido {
    margin: 10px;
    text-align: center;

    img {
    width: 100%;
        height: auto;
    }
    }

    h2 {
    font-size: medium;
    text-align: center;
    padding-top: .5rem;
    }
    }

    .cards {
    display: flex;
    justify-content: center;
    }

    .info {
    text-align: justify;
    font-size: 0.725rem;
    }

    .autor {
    background-color: seashell;
    padding: 0.425rem;
    text-align: center;
    font-size: 0.625rem;
    border-radius: 10px;
    bottom: 0;

}

.sombra{
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}
